<div class="canvas-holder jambotron">
    <canvas #canvasHolder></canvas>
    <div id="buffer">
        <canvas id="0" #bufferCanvasChars></canvas>
        <canvas id="1" #bufferCanvasChars></canvas>
        <canvas id="2" #bufferCanvasChars></canvas>
        <canvas id="3" #bufferCanvasChars></canvas>
        <canvas id="4" #bufferCanvasChars></canvas>
        <canvas id="5" #bufferCanvasChars></canvas>
        <canvas id="6" #bufferCanvasChars></canvas>
        <canvas id="7" #bufferCanvasChars></canvas>
        <canvas id="8" #bufferCanvasChars></canvas>
        <canvas id="9" #bufferCanvasChars></canvas>
        <canvas id="A" #bufferCanvasChars></canvas>
        <canvas id="B" #bufferCanvasChars></canvas>
        <canvas id="C" #bufferCanvasChars></canvas>
        <canvas id="D" #bufferCanvasChars></canvas>
        <canvas id="E" #bufferCanvasChars></canvas>
        <canvas id="F" #bufferCanvasChars></canvas>
        <canvas id="G" #bufferCanvasChars></canvas>
        <canvas id="H" #bufferCanvasChars></canvas>
        <canvas id="I" #bufferCanvasChars></canvas>
        <canvas id="J" #bufferCanvasChars></canvas>
        <canvas id="K" #bufferCanvasChars></canvas>
        <canvas id="L" #bufferCanvasChars></canvas>
        <canvas id="M" #bufferCanvasChars></canvas>
        <canvas id="N" #bufferCanvasChars></canvas>
        <canvas id="O" #bufferCanvasChars></canvas>
        <canvas id="P" #bufferCanvasChars></canvas>
        <canvas id="Q" #bufferCanvasChars></canvas>
        <canvas id="R" #bufferCanvasChars></canvas>
        <canvas id="S" #bufferCanvasChars></canvas>
        <canvas id="T" #bufferCanvasChars></canvas>
        <canvas id="U" #bufferCanvasChars></canvas>
        <canvas id="V" #bufferCanvasChars></canvas>
        <canvas id="W" #bufferCanvasChars></canvas>
        <canvas id="X" #bufferCanvasChars></canvas>
        <canvas id="Y" #bufferCanvasChars></canvas>
        <canvas id="Z" #bufferCanvasChars></canvas>
        <canvas id=":" #bufferCanvasChars></canvas>
        <canvas id="!" #bufferCanvasChars></canvas>
        <canvas id="?" #bufferCanvasChars></canvas>
    </div>
</div>
